<h1>All Employees</h1>

<ul>
  <% @employees.each do |employee| %>
  <li>
    <%= link_to employee.name, employee_path(employee) %>
  </li>
  <% end %>
</ul>

<%= button_to "Create a new Employee", new_employee_path, method: "get" %>
